<h2>Название : </h2>
<big><h4><i><%- history.name %></i></h4></big>
<br>
<br>
<h3>Важные события</h3>
<br>
<big><ul><p><%- history.imp %></p></ul></big>
<br>
<br>
<h3>Даты</h3>
<br>
<big><ul><p><%- history.dat %></p></ul></big>
<br>
<br>
<br>
<br>