<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="/errorStyle.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <meta charset="utf-8" />
    <title>ошибка 404</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark justify-content-between">
		<form method="GET" action="/">	
			<input type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-lg h1" value="На этом сайте вы сможете быстро получить конспект из текстов по истории">
		</form>
		<div id="history">
				<form method='GET' action="/history" class="form-inline">
					<input type="submit" class="btn btn-outline-light my-2 my-sm-0 btn-lg" value="история" id="buttonHistory">
				</form>
	</nav>
	<img allign="center" class="im" src="https://lh3.googleusercontent.com/proxy/kMct-2o4vuUTE_FWm1BCm0W7pMhW2lcU5yMbfwjbEItm6F--3fZNV8zZLP33S-Dur1fyZlvaSk5Z7lc4wRCFZZI09buLef2tHcSscvGkIWDKIbcCZ3ECbTmN-eCilunOg3jj">
    <main role="main" class="container c message p" >
        <div class= "center-block">
            <h1>Такой страницы не существует</h1>
            <form method="GET" action="/">
                <input type="submit" value="Вернуться на главную" class="btn btn-outline-dark my-2 my-sm-0 btn-lg">
                </form>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>