<html>
<head>
    <title>История</title>
</head>
<body>
    <% history.forEach(function(history) { %>
        <div class="history">
        <%- include('../partials/historyDescription', {history: history}); %>
        </div>
      <% }); %>
</body>
</html>