<html>

<head>
    <link href="style.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <title>Конспектатор</title>
</head>

<body>
    <div id="setFile">
        <textarea name="fileName" id="textArea"></textarea>
        <input type="button" value="Отправить параграф" id="buttonSetFile">
    </div>
    <div id="getDates">
        <input type="submit" value="Посмотреть даты" id="buttonGetDates">
    </div>
    <div id="getImportant">
        <input type="submit" value="Посмотреть важные события" id="buttonGetImportant">
    </div>
    <h1>Dates</h1>
    <p id="dates"></p>
    <h1>Important</h1>
    <p id="important"></p>
</body>

</html>