<html>
<head>
    <title>Ничего не нашлось</title>
</head>
<body>
Увы, но такого параграфа нет
<form method="GET" action="/">
<input type="submit" value="Вернуться на главную">
</form>
<form method="GET" action="/history">
    <input type="submit" value="Вернуться к истории">
    </form>
</body>
</html>